.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgb(241, 235, 235 ,.5);
    height: 100%;
    width: 100%;
    align-items: center;
}